.container{
    position: relative;
    width: 375px;
    height: 667px;
}
.invisible{
    position: absolute;
    border: none;
    width: 320px;
    height: 43px;
    left: 20px;
    top: 10px;
    background-color: #00beed00;
}